/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("./font/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./font/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./font/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./font/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./font/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1480px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header_container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 10px;
}

.header_container__location {
  color: #1A1A1A;
  font-size: 10px;
  font-weight: 400;
  margin-right: 100px;
}

.header_container__tel {
  display: inline;
  color: #1A1A1A;
  font-size: 10px;
  font-weight: 400;
  margin-right: 98px;
}

.header_container__location::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/location.svg);
  vertical-align: bottom;
}

.header_container__tel::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url(../img/tel.svg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: bottom;
}

.header_nav {
  background-color: #E37604;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 82px 15px 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header_nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.header_nav__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.header_nav__btn {
  padding: 10px 27px;
  color: #DC7000;
  font-size: 13px;
  font-weight: 400;
  border: none;
  background-color: #fff;
  border-radius: 6px;
}

.header_nav__btn2 {
  width: 26px;
  height: 21px;
  background-image: url(../img/heder_btn.svg);
  border: none;
  background-color: transparent;
  display: none;
}

@media screen and (max-width: 800px) {
  .header_container {
    display: none;
  }
  .header_nav__list {
    display: none;
  }
  .header_nav__btn {
    display: none;
  }
  .header_nav__btn2 {
    display: inline-block;
  }
  .header_nav {
    padding: 20px 24px;
  }
}
.hero_container {
  max-width: 1480px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 144px;
}

.hero_content {
  background-color: #FBEFE1;
  padding: 111px 166px 113px 110px;
}

.hero_content__btn {
  border: none;
  color: #848484;
  font-size: 12px;
  font-weight: 400;
  line-height: 208.5%;
  background-color: transparent;
}

.hero_content__btn_text {
  color: #E47500;
  font-size: 12px;
  font-weight: 400;
  line-height: 208.5%;
  margin-left: 5px;
}
.hero_content__btn_text::before {
  content: ">";
  display: inline-block;
  color: #848484;
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
}

.hero_content__des {
  max-width: 401px;
}

.hero_content__title {
  color: #222;
  font-size: 30px;
  font-weight: 700;
  line-height: 180.5%;
  margin-bottom: 25px;
}

.hero_content__text {
  color: #525252;
  font-size: 15px;
  font-weight: 400;
  line-height: 208.5%;
  max-width: 399px;
  margin-bottom: 57px;
}

.hero_content__btn2 {
  border: none;
  background-color: transparent;
  padding: 16px 18px;
  border-radius: 40px;
  background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.hero_content__btn2::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../img/btn_icon.svg);
  margin-left: 18px;
}

.hero_container__img_box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1350px) {
  .hero_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero_content {
    width: 100%;
    padding: 61px 37px 74px 31px;
  }
  .hero_content__des {
    margin-right: auto;
    margin-left: auto;
  }
  .hero_container__img {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .hero_content__title {
    font-size: 21px;
  }
  .hero_content__text {
    font-size: 11px;
  }
  .hero_content__des {
    max-width: 300px;
  }
}
.biznes__title {
  max-width: 237px;
  color: #222;
  font-size: 25px;
  font-weight: 600;
  line-height: 180.5%;
  margin-bottom: 63px;
}

.biznes__list {
  margin-bottom: 147px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.biznes__item {
  padding: 64px 34px;
  max-width: 378px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.biznes__item2 {
  padding: 64px 34px;
  max-width: 378px;
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.biznes__item_btn {
  border: none;
  color: #B000DC;
  font-size: 14px;
  font-weight: 400;
  line-height: 187.5%;
  padding: 7px 35px 6px 14px;
  border-radius: 8px;
  margin-bottom: 19px;
  background-color: #D7C7DC;
}

.biznes__item_btn2 {
  border: none;
  color: #DC1A00;
  font-size: 14px;
  font-weight: 400;
  line-height: 187.5%;
  padding: 7px 35px 6px 14px;
  border-radius: 8px;
  margin-bottom: 19px;
  background-color: #F2E1DA;
}

.biznes__item_btn3 {
  border: none;
  color: #00DC72;
  font-size: 14px;
  font-weight: 400;
  line-height: 187.5%;
  padding: 7px 35px 6px 14px;
  border-radius: 8px;
  margin-bottom: 19px;
  background-color: #DAF2E9;
}

.biznes__item_title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 187.5%;
  margin-bottom: 16px;
}

.biznes__item_text {
  color: #525252;
  font-size: 14px;
  font-weight: 400;
  line-height: 187.5%;
}

@media screen and (max-width: 1200px) {
  .biznes__list {
    grid-template-columns: 1fr;
  }
  .item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .biznes__title {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 450px) {
  .item {
    max-width: 300px;
    padding: 61px 31px 55px 37px;
  }
}
.servis {
  background-color: #F5F5F5;
  margin-bottom: 139px;
  display: grid;
  grid-template-columns: 600px auto;
}

.servis__btn {
  color: #DC7000;
  font-size: 16px;
  font-weight: 500;
  line-height: 202.5%;
  border: none;
  background-color: transparent;
  margin-bottom: 14px;
}

.servis__img {
  padding: 113px 0 0 110px;
}

.servis__box {
  max-width: 536px;
}

.servis_content {
  padding: 134px 208px 100px 95px;
}

.servis__title {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 157.5%;
  margin-bottom: 14px;
}

.servis__text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 202.5%;
}

@media screen and (max-width: 1300px) {
  .servis {
    grid-template-columns: 1fr;
  }
  .servis__img {
    padding: 0;
  }
  .servis__img_box {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
  }
  .servis__box {
    margin-right: auto;
    margin-left: auto;
  }
  .servis_content {
    padding: 0;
  }
}
@media screen and (max-width: 530px) {
  .servis__box {
    max-width: 310px;
  }
}
.team {
  margin-bottom: 158px;
  padding: 139px 66px 130px 110px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.team__title {
  color: #222;
  font-size: 25px;
  font-weight: 600;
  line-height: 180.5%;
  margin-bottom: 53px;
}

.team__item {
  border-radius: 20px;
  background-color: #F5F5F5;
  background-image: url(../img/Bill\ 1.png);
  background-repeat: no-repeat;
  background-position: 86px 35px;
  text-align: center;
  padding: 158px 95px 30px 95px;
}
.team__item:nth-child(2) {
  background-image: url(../img/Beverly\ 1.png);
  background-repeat: no-repeat;
  background-position: 86px 35px;
  text-align: center;
  padding: 158px 95px 30px 95px;
}
.team__item:nth-child(3) {
  background-image: url(../img/Claudia\ 1.png);
  background-repeat: no-repeat;
  background-position: 86px 35px;
  text-align: center;
  padding: 158px 95px 30px 95px;
}
.team__item:nth-child(4) {
  background-image: url(../img/Avatar\ 1.png);
  background-repeat: no-repeat;
  background-position: 86px 35px;
  text-align: center;
  padding: 158px 95px 30px 95px;
}

.team__item_title {
  color: #000;
  font-size: 19px;
  font-weight: 600;
  line-height: 202.5%;
}

.team__item_text {
  color: #8B8B8B;
  font-size: 16px;
  font-weight: 300;
  line-height: 202.5%;
}

@media screen and (max-width: 1250px) {
  .team__list {
    grid-template-columns: repeat(2, 295px);
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .team__title {
    width: 139px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 720px) {
  .team__list {
    grid-template-columns: repeat(1, 295px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .team {
    margin-bottom: 158px;
    padding: 139px 35px 130px 35px;
  }
}
.partner {
  background-color: #F5F5F5;
  margin-bottom: 138px;
  padding: 70px 247px 101px 109px;
  margin-bottom: 138px;
}

.partner__title {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 64px;
}

.partner__box {
  max-width: 1084px;
  height: 111px;
  background-repeat: no-repeat;
  background-image: url(../img/partner1.svg), url(../../img/partner2.svg), url(../img/partner3.svg), url(../img/partner4.svg), url(../img/partner5.svg);
  background-position: left center, 180px center, 412px center, 658px center, 878px center;
}

@media screen and (max-width: 1400px) {
  .partner {
    padding: 70px 150px 101px 50px;
  }
}
@media screen and (max-width: 1260px) {
  .partner {
    padding: 70px 30px 101px 30px;
  }
}
@media screen and (max-width: 600px) {
  .partner__title {
    max-width: 323px;
  }
}
.stay__title {
  color: #222;
  font-size: 30px;
  font-weight: 600;
  line-height: 187.5%;
  margin-bottom: 32px;
}

.stay__text {
  max-width: 486px;
  color: #525252;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  margin-bottom: 74px;
}

.stay__input_title {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.stay__input_text {
  max-width: 536px;
  color: #FFF;
  font-size: 17px;
  font-weight: 400;
}

.stay__input_box {
  border-radius: 15px;
  background-color: #1B1B1B;
  padding: 40px 52px 42px 56px;
  margin-bottom: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.emai_input {
  border: none;
  color: #898989;
  font-size: 13px;
  font-weight: 300;
  outline: none;
  background: transparent;
}

.input__btn {
  border-radius: 8px;
  background-color: #DC7000;
  padding: 8px 15px;
  border: none;
  margin-left: 98px;
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
}

.input__box {
  background-color: #FFF;
  padding: 6px 6px 6px 20px;
  border-radius: 8px;
}

@media screen and (max-width: 1080px) {
  .stay__input_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 25px 18px 21px;
  }
  .stay__input_text {
    margin-bottom: 41px;
  }
  .stay__input_title {
    margin-bottom: 24px;
  }
  .stay__input_text {
    margin-bottom: 43px;
  }
}
@media screen and (max-width: 500px) {
  .input__btn {
    margin: 0;
  }
  .input__box {
    width: 275px;
  }
}
.footer {
  background-color: #1B1B1B;
  padding: 60px 130px 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box_text {
  max-width: 325px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.footer__box_link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.footer__logo_box {
  margin-bottom: 27px;
}

.footer__about {
  margin-left: 78px;
}

.footer__about_link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 186.3%;
  display: block;
}

.footer__about_title {
  color: #FFF;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__contact {
  margin-left: 144px;
}

.footer__contact_title {
  color: #FFF;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__contact_text {
  max-width: 246px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
}

.footer__contact_tel {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
}

.footer__icon {
  width: 190px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url(../img/facebook.svg), url(../img/instagram.svg), url(../img/twitter.svg), url(../img/linkedin1.svg);
  background-position: left center, 45px center, 90px center, 135px center;
  margin-top: 100px;
  margin-left: 83px;
}

.footer__line {
  height: 1px;
  background-color: #D2D2D2;
  display: block;
  margin-top: 56px;
}

.footer_info {
  border-top: 1px solid #D2D2D2;
  background-color: #1B1B1B;
  height: 80px;
}

.footer_info_text {
  max-width: 289px;
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 190.6%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 29px;
}

@media screen and (max-width: 1350px) {
  .footer__icon {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .footer {
    display: none;
  }
  .stay__input_box {
    margin-bottom: 68px;
  }
}
@media screen and (max-width: 500px) {
  .footer_info {
    height: 70px;
  }
  .footer_info_text {
    margin-top: 22px;
  }
}/*# sourceMappingURL=main.css.map */